@import "tailwindcss";

body {
  @apply p-0 m-0 box-border w-full h-full bg-[#061504];
}

/* Custom styles for react-slick */
.slick-dots li button:before {
  color: white !important;
}

.slick-prev:before,
.slick-next:before {
  color: white !important;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}
